In [4]:
import pandas as pd
import math as m

Question 2: Use the Bisection method to find solutions accurate to within $10^{-2}$ for $x^3 - 7x^2 + 14x - 6 = 0$

In [5]:
def bisectionMethod(a, b, function, tolerance):
    a_n__b_n = []
    p_n = []
    f_xn = []

    dist = b - a
    while dist >= tolerance:
        a_n__b_n.append((a, b))
        p = (a + b) / 2
        p_n.append(p)
        f_p = function(p)
        f_xn.append(f_p)

        if function(a) * f_p < 0:
            b = p
        else:
            a = p

        dist = b - a

    df = {
        "a_n": [interval[0] for interval in a_n__b_n],
        "b_n": [interval[1] for interval in a_n__b_n],
        "p_n": p_n,
        "f_xn": f_xn
    }
    bisected = pd.DataFrame(df)
    return bisected

In [6]:
def func(x):
    return (x**3)-7*(x**2)+14*x-6

In [7]:
bisected = bisectionMethod(0,1,func,pow(10,-2))
bisected

        a_n      b_n       p_n      f_xn
0  0.000000  1.00000  0.500000 -0.625000
1  0.500000  1.00000  0.750000  0.984375
2  0.500000  0.75000  0.625000  0.259766
3  0.500000  0.62500  0.562500 -0.161865
4  0.562500  0.62500  0.593750  0.054047
5  0.562500  0.59375  0.578125 -0.052624
6  0.578125  0.59375  0.585938  0.001031

In [8]:
bisected = bisectionMethod(2.8,3.3,func,pow(10,-2))
bisected

      a_n       b_n       p_n      f_xn
0  2.8000  3.300000  3.050000 -0.044875
1  2.8000  3.050000  2.925000  0.085828
2  2.9250  3.050000  2.987500  0.012811
3  2.9875  3.050000  3.018750 -0.018040
4  2.9875  3.018750  3.003125 -0.003105
5  2.9875  3.003125  2.995312  0.004731

In [9]:
bisected = bisectionMethod(3.3,4,func,pow(10,-2))
bisected

        a_n       b_n       p_n      f_xn
0  3.300000  4.000000  3.650000  0.469625
1  3.300000  3.650000  3.475000  0.083422
2  3.300000  3.475000  3.387500 -0.029002
3  3.387500  3.475000  3.431250  0.020906
4  3.387500  3.431250  3.409375 -0.005593
5  3.409375  3.431250  3.420312  0.007266
6  3.409375  3.420312  3.414844  0.000740